body{
    background-color:#ECF2FF;
}

        hr 
        {
            border-style:none;
            border-top-style:dotted;
            border-color:grey;
            border-width:5px;
            width: 5%;
        }

        h1{
            color:#E96479;
        }
        h2:hover{

            color:#E96479;
        }
        .skills{
            color:blue;
        }
        .education{
            color:blue;
        }
        .languages{
            color:blue;
        }
